{% load static %}

{#///////// ОПРЕДЕЛИМ УРЛЫ ///////////////#}

<script>

    //////// API ////////////
    function getGameStatusApiURL(){
        return "{% url 'game_status_API' slug %}"
    }
    function getUsersWaitingRoomApiURL(){
        return "{% url 'waiting_room_API_gatusers' slug %}"
    }
    function getUsersWaitingTypingRoomApiURL(){
        return "{% url 'waiting_typing_room_API_gatusers' slug %}"
    }
    function joinWaitingTypingRoomApiURL(){
        return "{% url 'waiting_room_API_join' slug %}"
    }
    function exitWaitingTypingRoomApiURL(){
        return "{% url 'waiting_room_API_exit' slug %}"
    }

    //////// DJANGO ////////////
    function getWaitingRoomURL(){
        return "{% url 'waiting_room' slug %}"
    }
    function getTypingRoomURL(){
        return "{% url 'typing_room' slug %}"
    }
    function getWaitingTypingRoomURL(){
        return "{% url 'waiting_typing_room' slug %}"
    }
    function getResultRoomURL(){
        return "{% url 'result_room' slug %}"
    }
    function getResultListRoomURL(){
        return "{% url 'result_list_room' slug %}"
    }
    function getMainRoomURL(){
        return "{% url 'main_room' %}"
    }
    function getGameOverRoomURL(){
        return "{% url 'gameover_room' slug %}"
    }

    {# TODO при использовании chanel мб не пригодится #}
    {# ЗАГРУЗКА JS - ОБНОВЛЕНИЕ STATUS GAME #}
    {#<script src="{% static 'game_1/js/room/temp.js' %}"></script>#}
</script>

{# TODO а нужен ли админу веб соекет? скорее всего нет! И можно обойтись без этого. Просто его не добавлять в сокет. #}
{% if is_user_owner or user.is_superuser %}
    <script src="{% static 'game_1/js/room/relocation_owner.js' %}"></script>
{% else %}
    <script src="{% static 'game_1/js/room/relocation_user.js' %}"></script>
{% endif %}

<script src="{% static 'game_1/js/room/ws.js' %}"></script>