{% extends 'game_1/base.html' %}


{% block title %} gameover_room {% endblock %}

{% block content %}
    <section class="gameover-room vh-100">

        <div class="gameover-room-body container h-100">
            <div class="gameover-text row d-flex justify-content-center align-items-center h-100">

                {# ОПОВЕЩЕНИЯ ДЖАНГИ #}
                {% include '../blocks/django_messages.html' %}

                <div class="col-8">
                    <h2 class="p-2 d-flex justify-content-center rounded-pill" style="font-weight: bold; font-size: 46px; color: orange">Спасибо за игру!</h2>
                    <div class="waiting-typing-done d-flex flex-column pt-2 pb-2">
                        <a href="{% url 'main_room' %}" class="answer_link btn btn-primary alredy_done__link" >На главную</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

