{% extends 'game_1/base.html' %}

{% load static %}

{#TODO - заменим на название и номер#}
{% block title %} main_room {% endblock %}

{% block content %}
    <section class="main-room vh-100">
        <div class="container pt-1 pb-1 h-100">
            <div class="d-flex flex-column justify-content-center align-items-between h-100">

                {# ЗАГОЛОВОК СТРАНИЦЫ #}

                <div class="main-room-header py-1">
                    <h1 class="p-2 d-flex justify-content-center bg-primary text-white rounded-pill" style="font-weight: bold; font-size: 26px">Игра #1</h1>
                </div>

                {# ОПОВЕЩЕНИЯ ДЖАНГИ #}

                {% include '../blocks/django_messages.html' %}

                {# ВЫ ВОШЛИ КАК #}

                <div class="main-room-user py-1">
                    <h2 class="p-2 d-flex justify-content-center align-items-center" style="background-color: cornsilk; font-weight:bold; font-size: 20px; color: black; border-radius: 50px;">
                        {% if user.is_authenticated %}
                            <div>Вы вошли как:&nbsp;</div>
                            <div style="color: red"> {{ user.username }}</div>
                        {% else %}
                            <div>Вы не вошли в систему&nbsp;</div>
                        {% endif %}
                    </h2>
                </div>

                {# ЛПИСАНИЕ ИГРЫ #}

                <div class="main-room-description py-1">
                    <h1 class="p-2 d-flex justify-content-center align-items-center" style="background-color: cornsilk; font-weight:bold; font-size: 20px; color: black; height: 200px; border-radius: 50px;">Краткое поисание тут.Краткое поисание тут.Краткое поисание тут</h1>
                </div>

                {# ПРАВИЛА ИГРЫ #}

                <div class="main-room-rules py-1">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary h-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Правила игры
                        </button>
                    </div>

                    <div class="collapse " id="collapseExample">
                        {% include '../blocks/game_rules.html' %}
                    </div>
                </div>

                {# ВОЙТИ В КОМНАТУ #}

                <div class="d-flex flex-column justify-content-center align-items-center py-2">
                    <form class="row g-3" method="post">
                        <div class="col-auto">
                            {{ form.room_code }}
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Войти в комнату</button>
                        </div>
                        {% csrf_token %}
                    </form>
                    {#                    <a href="{% url 'waiting_room' slug %}?create=1" class="answer_link btn btn-success m-2 alredy_done__link" >Играть</a>#}
                </div>
            </div>
        </div>
    </section>

    <button id="test">test</button>

{% endblock %}


{% block user_scripts %}
    <script>
        function relocation(status) {
            console.log('main_room ', status)
        }
    </script>
    <script src="{% static 'game_1/js/room/ws.js' %}"></script>
{% endblock %}