{% extends 'game_1/base.html' %}

{% load static %}

{% block title %} main_room {% endblock %}

{% block content %}
    <section class="main-room vh-100">
        <div class="container pt-1 pb-1 h-100">
            <div class="d-flex flex-column justify-content-center align-items-between h-100">
                <div class="main-room-header">
                    <h1 class="p-2 d-flex justify-content-center bg-primary text-white rounded-pill" style="font-weight: bold; font-size: 26px">Игра #1</h1>
                </div>

                {# ОПОВЕЩЕНИЯ ДЖАНГИ #}
                {% include '../blocks/django_messages.html' %}


                <div class="main-room-user">
                    <h2 class="p-2 d-flex justify-content-center align-items-center" style="background-color: cornsilk; font-weight:bold; font-size: 20px; color: black; border-radius: 50px;">
                        {% if user.is_authenticated %}
                            <div>Вы вошли как:&nbsp;</div>
                            <div style="color: red"> {{ user.username }}</div>
                        {% else %}
                            <div>Вы не вошли в систему&nbsp;</div>
                        {% endif %}
                    </h2>
                </div>

                <div class="main-room-description">
                    <h1 class="p-2 d-flex justify-content-center align-items-center" style="background-color: cornsilk; font-weight:bold; font-size: 20px; color: black; height: 200px; border-radius: 50px;">Краткое поисание тут.Краткое поисание тут.Краткое поисание тут</h1>
                </div>

                <div class="d-flex justify-content-center ">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Правила игры
                    </button>
                </div>

                <div class="collapse" id="collapseExample">

                    <div class="rules card mx-2" >
                        <div class="card-header text-center">
                            Рекомендуемые
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'game_1/img/rules.jpg' %}" class="card-img-top" alt="..." style="width: 100%; height: auto; max-width: 800px;">
                        </div>
                        <div class="rules-body card-body">
                            <h5 class="rules-title card-title">Заголовок карточки</h5>
                            <p class="rules-text card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                        </div>
                    </div>

                    <div class="rules card mx-2" >
                        <div class="card-header text-center">
                            Рекомендуемые
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'game_1/img/rules.jpg' %}" class="card-img-top" alt="..." style="width: 100%; height: auto; max-width: 800px;">
                        </div>
                        <div class="rules-body card-body">
                            <h5 class="rules-title card-title">Заголовок карточки</h5>
                            <p class="rules-text card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                        </div>
                    </div>

                </div>



                <div class="alredy_done__block d-flex flex-column">
                    <a href="{% url 'waiting_room' %}?create=1" class="answer_link btn btn-success m-2 alredy_done__link" >Играть</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

