{% extends 'game_1/base.html' %}


{% block title %} main_room {% endblock %}

{% block content %}
    <section class="main-room vh-100">
        <div class="container pt-1 pb-1 h-100">
            <div class="d-flex flex-column justify-content-center align-items-between h-100">
                <div class="main-room-header">
                    <h1 class="p-2 d-flex justify-content-center bg-primary text-white rounded-pill" style="font-weight: bold; font-size: 26px">Игра #1</h1>
                </div>

                {# ОПОВЕЩЕНИЯ ДЖАНГИ #}
                {% include '../blocks/django_messages.html' %}


                <div class="main-room-user">
                    <h2 class="p-2 d-flex justify-content-center align-items-center" style="background-color: cornsilk; font-weight:bold; font-size: 20px; color: black; border-radius: 50px;">
                        {% if user.is_authenticated %}
                            <div>Вы вошли как:&nbsp;</div>
                            <div style="color: red"> {{ user.username }}</div>
                        {% else %}
                            <div>Вы не вошли в систему&nbsp;</div>
                        {% endif %}
                    </h2>
                </div>

                <div class="main-room-description">
                    <h1 class="p-2 d-flex justify-content-center align-items-center" style="background-color: cornsilk; font-weight:bold; font-size: 20px; color: black; height: 200px; border-radius: 50px;"">Краткое поисание тут.Краткое поисание тут.Краткое поисание тут</h1>
                </div>

                {% if massage %}
                    <div class="waiting-massage alert alert-success" role="alert">
                        {{ massage }}
                    </div>
                {% endif %}

                {% if gameover_massage %}
                    <div class="waiting-massage alert alert-success" role="alert">
                        {{ gameover_massage }}
                    </div>
                {% endif %}


                <div class="alredy_done__block d-flex flex-column">
                    <a href="{% url 'waiting_room' %}?create=1" class="answer_link btn btn-success m-2 alredy_done__link" >Играть</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

