{% extends 'game_1/base.html' %}

{% block title %} typing_room {% endblock %}

{% block content %}
    <section class="waiting">
        <div class="container pt-1 pb-1 border border-success">

            <div class="current-round">
                <h2 class="text-center">Раунд №{{ round }}</h2>
            </div>

            <div class="waiting-header">
                <h2 class="text-center">Ваши ответы</h2>
            </div>

            <div class="results-answer pt-2 pb-2" style="background-color: #f5d060; border-radius: 20px;">
                <h2 class="text-center">Вопрос:</h2>
                <h2 class="text-center">Почему чукча любит бензобак?</h2>
            </div>

            <form method="post">
{#                <div class="mb-3">#}
{#                    <label for="round" class="form-label">Номер раунда</label>#}
{#                    {{ form.round }}#}
{#                </div>#}
                <div class="mb-3">
                    <label for="answer" class="form-label">Ответ</label>
                    {{ form.answer }}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg" value="Submit">Отправить</button>
                </div>
                {% csrf_token %}
            </form>

        </div>
    </section>
{% endblock %}
