{% extends 'game_1/base.html' %}

{% load static %}

{% block title %} typing_room {% endblock %}

{% block content %}
    <style>
        .animation-header {
            opacity: 0;
            animation: ani 2.5s forwards;
        }

        @keyframes ani {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    </style>


    <section class="waiting">
        <div class="container pt-1 pb-1 border border-success animation-header">
            <div class="waiting-header">
                <h1 class="p-2 d-flex justify-content-center bg-primary text-white rounded-pill" style="font-weight: bold; font-size: 26px">Пишем ответы раунда №{{ round }} из {{ max_rounds }}</h1>
            </div>

            {# ОПОВЕЩЕНИЯ ДЖАНГИ #}
            {% include '../blocks/django_messages.html' %}

            <div class="results-answer pt-2 pb-2" style="background-color: #f5d060; border-radius: 20px;">
                <h2 class="text-center">Вопрос:</h2>
                <h2 class="text-center">{{ obj_question.question }}</h2>
            </div>

            {% if obj_question.img %}
                <div class="d-flex flex-column justify-content-center align-items-center" >
                    <img src="{{ obj_question.img.url }}" class="img-fluid" alt="..." style="width: 100%; height: auto; max-width: 600px;">
                </div>
            {% endif %}

            <form method="post">
                <div class="mb-3">
                    <label for="answer" class="form-label">Ответ</label>
                    {{ form.answer }}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg" value="Submit">Отправить</button>
                </div>
                {% csrf_token %}
            </form>

        </div>
    </section>
{% endblock %}

{% block user_scripts %}
    <script>
        ///////// API ///////////////
        function getGameStatusApiURL(){
            return "{% url 'game_status_API' slug %}"
        }
        //////// DJANGO ////////////
        function getWaitingRoomURL(){
            return "{% url 'waiting_room' slug %}"
        }
        function getTypingRoomURL(){
            return "{% url 'typing_room' slug %}"
        }
        function getWaitingTypingRoomURL(){
            return "{% url 'waiting_typing_room' slug %}"
        }
        function getResultRoomURL(){
            return "{% url 'result_room' slug %}"
        }
        function getResultListRoomURL(){
            return "{% url 'result_list_room' slug %}"
        }
        function getMainRoomURL(){
            return "{% url 'main_room' %}"
        }
        function getGameOverRoomURL(){
            return "{% url 'gameover_room' slug %}"
        }
    </script>

    {# ЗАГРУЗКА JS #}
    <script src="{% static 'game_1/js/room/temp.js' %}"></script>
{% endblock %}