{% extends 'game_1/base.html' %}

{% load static %}

{% block title %} Ждем игроков {% endblock %}

{% block content %}
<style>
    /* КОД КОМНАТЫ  */
    .room-code__text{
        font-weight: bold; 
        font-size: 30px;
    }

    /* ВЫ ВОШЛИ КАК */
    .user__username{
        font-weight: bold; 
        font-size: 26px;
    }
    .user__text{
        font-weight: bold; 
        font-size: 26px;
    }
    
    /* ОПОВЕЩЕНИЯ ДЖАНГИ  */
    /* pass */

    /* СПИСОК ИГРОКОВ */
    /* pass1 */

    /* КНОПКИ УПРАВЛЕНИЯ   */
    .waiting-owner__body__owner{
       color: red;
    }
    .waiting-owner__body{
        background-color: orange;
    }

</style>


    <section class="waiting-room vh-100 ">
        <div class="container pt-1 pb-1 h-100">
            <div class="d-flex flex-column justify-content-center align-items-between h-100">

                <!-- КОД КОМНАТЫ -->
                <div class="room-code">
                    <!-- TODO delete id -->
                    <h1 id="pop-room-code" class="room-code__text pop-instruction--user pop-instruction--admin p-2 d-flex justify-content-center bg-success text-white rounded-pill">Комната {{ room_code }}</h1>
                </div>

                <!-- ВЫ ВОШЛИ КАК -->
                <div class="user p-2 bg-primary text-white rounded-pill text-center">
                    <h1 class="user__username"> Вы вошли как {{ user.username }}. </h1>
                    <h1 class="user__text"> Ждем остальных игроков. </h1>
                </div>

                <!-- ОПОВЕЩЕНИЯ ДЖАНГИ -->
                {% include '../blocks/django_messages.html' %}

                <!-- СПИСОК ИГРОКОВ -->
                <div class="plyers-list border border-primary pt-3 pb-3 mb-3 bt-3 p-3">
                    <h2 class="plyers-list__header text-center">Список игроков в лобби</h2>
                    <div class="plyers-list__container pt-3 pb-3">
                        {% if not players %}
                            <div class="plyers-list__container__empty">
                                Пока тут никого нет
                            </div>
                        {% endif %}

                        <div id="waitingPlayersThere" class="plyers-list__container__full d-flex align-items-center justify-content-center">
                            <!-- {% for p in players %}#}
                                div class="plyers-list__player d-inline p-2 mx-1 bg-success text-white">{{ p.player_in_room.username }}</div>#}
                            {% endfor %}#} -->
                        </div>
                        <!-- TODO delete id ненужная кнопка-->
                        <button id="pop-list-players" class="plyers-list__container__btn pop-instruction--user pop-instruction--admin btn"> Обновить список </button>
                    </div>
                </div>

                <!-- КНОПКИ УПРАВЛЕНИЯ -->
                <div class="player-actions d-flex flex-column text-center border border-primary pt-1 pb-1">
                    <h2 class="player-actions__header">Управление:</h2>
                    <!-- TODO delete id ненужная кнопка-->
                    <a href="#" class="player-actions_btn disabled btn btn-primary m-2" >Добавить бота</a>

                    <!-- ВХОД ВЫХОД DJANGO -->
                    {% if not is_user_in_room and not is_user_owner %}
                        <!-- TODO delete id-->
                        <a id="pop-join" href="{% url 'waiting_room' slug %}?join=1" class="player-actions_btn pop-instruction--user btn btn-primary m-2 " >Присоединиться к игре</a>
                    {% elif  is_user_in_room and not is_user_owner %}
                        <a href="{% url 'waiting_room' slug %}?exit=1" class="player-actions_btn btn btn-primary m-2 " >Выйти из игры</a>
                    {% endif %}

                    <!-- ВХОД ВЫХОД API -->
                    {% if not is_user_in_room and not is_user_owner %}
                        <!-- TODO delete id-->
                        <a id="waiting_room_API_join" class="player-actions_btn pop-instruction--user btn btn-primary m-2">Присоединиться к игре API</a>
                        <a id="waiting_room_API_exit" class="player-actions_btn btn btn-primary m-2" style="display: none">Выйти из игры API</a>
                    {% elif is_user_in_room and not is_user_owner %}
                        <!-- TODO delete id-->
                        <a id="waiting_room_API_join" class="player-actions_btn pop-instruction--user btn btn-primary m-2">Присоединиться к игре API</a>
                        <a id="waiting_room_API_exit" class="player-actions_btn btn btn-primary m-2" style="display: none">Выйти из игры API</a>
                    {% endif %}

                    <!-- ДОП ФУНКЦИИ -->
                    {% if is_user_owner or user.is_superuser %}
                        <a href="{% url 'waiting_room' slug %}?deleteplayers=1" class="player-actions_btn btn btn-primary m-2 " >Удалить всех пользователей</a>
                        <a href="{% url 'waiting_room' slug %}?deleteroom=1" class="player-actions_btn btn btn-primary m-2 " >Удалить комнату</a>
                        <!-- TODO delete id-->
                        <a id="pop-start-game" href="{% url 'waiting_room' slug %}?startgame=1" class="player-actions_btn pop-instruction--admin btn btn-success m-2 " >Начать игру</a>
                    {% else %}
                        <div class="waiting-owner">
                            <div class="waiting-owner__header d-flex flex-column pt-2 pb-2">
                                Ждем пока создатель комнаты {{ owner }} начнет игру.
                            </div>
                            <!-- TODO delete id-->
                            <div id="pop-wait-owner-start" class="waiting-owner__body pop-instruction--user d-flex flex-column pt-2 pb-2 fw-bold fs-5 text-white justify-content-center align-items-center">
                                <p class="waiting-owner__body__text d-inline">Ждем пока создатель комнаты</p>
                                <p class="waiting-owner__body__owner d-inline">{{ owner }}</p>
                                <p class="waiting-owner__body__text d-inline"> начнет игру. </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block user_scripts %}

    {#  шаблоны html страницы для пользователей в комнате #}
    {% verbatim %}
    <script id="playersThereTmpl" type="text/x-jquery-tmpl">
            <div class="base-info">
                {{each data_players.users}}
                    <div class="d-inline p-2 mx-1 bg-success text-white">${username}</div>
                {{/each}}
            </div>
        </div>
    </script>
    {% endverbatim %}

    {% verbatim %}
    <script id="TimerTmpl" type="text/x-jquery-tmpl">
    <div class="row begin-countdown">
        <div class="col-md-12 text-center">
            <progress value="10" max="10" id="pageBeginCountdown"></progress>
            <p> Begining in <span id="pageBeginCountdownText">10 </span> seconds</p>
        </div>
    </div>
    </script>
    {% endverbatim %}

    {# ОПРЕДЕЛИМ УРЛЫ #}
    /////////////////////////////////////////////////////////
    {% include '../blocks/urls_js.html' %}

    {# ЗАГРУЗКА JS - LOAD СПИСОК ИГРОКОВ #}
    <script src="{% static 'game_1/js/room/waiting_room_test.js' %}"></script>

    {% if is_user_owner or user.is_superuser %}
        {# POPOVER FOR OWNER #}
        <script type="text/javascript" src="{% static 'game_1/js/room/waiting_room_instruction_1.js' %}"></script>
    {% else %}
        {# POPOVER FOR USER #}
        <script type="text/javascript" src="{% static 'game_1/js/room/waiting_room_instruction_2.js' %}"></script>
    {% endif %}
{% endblock %}

