{% extends 'game_1/base.html' %}

{% load static %}

{#TODO - заменим на название и номер#}
{% block title %} waiting_room {% endblock %}

{% block content %}
    <section class="waiting vh-100 ">
        <div class="container pt-1 pb-1 h-100">
            <div class="d-flex flex-column justify-content-center align-items-between h-100">

                <div class="waiting-header">
                    <h1 class="p-2 d-flex justify-content-center bg-primary text-white rounded-pill" style="font-weight: bold; font-size: 26px">Ждем игроков №{{ round }}</h1>
                </div>

                {# ОПОВЕЩЕНИЯ ДЖАНГИ #}
                {% include '../blocks/django_messages.html' %}

                <div class="waiting-body">

                    <div class="waiting-list border border-primary pt-3 pb-3 mb-3 bt-3 p-3">
                        <h2 class="waiting-list-text text-center">Список игроков в лобби</h2>
                        <div class="waiting-player pt-3 pb-3">
                            {% if not players %}
                                <div class="text-center">
                                    Пока тут никого нет
                                </div>
                            {% endif %}

                            <div id="waitingPlayersThere" class="d-flex align-items-center justify-content-center">
                                {#                                {% for p in players %}#}
                                {#                                    <div class="d-inline p-2 mx-1 bg-success text-white">{{ p.player_in_room.username }}</div>#}
                                {#                                {% endfor %}#}
                            </div>
                            <button class="waiting-players-there-btn btn"> Обновить список </button>
                        </div>
                    </div>


                    <div class="waiting-action d-flex flex-column text-center border border-primary pt-1 pb-1">
                        <h2>Управление:</h2>
                        <a href="#" class="disabled btn btn-primary m-2" >Добавить бота</a>

                        {% if not is_user_in_room and not is_user_owner %}
                            <a href="{% url 'waiting_room' slug %}?join=1" class="answer_link btn btn-primary m-2 " >Присоединиться к игре</a>
                        {% elif  is_user_in_room and not is_user_owner %}
                            <a href="{% url 'waiting_room' slug %}?exit=1" class="answer_link btn btn-primary m-2 " >Выйти из игры</a>
                        {% endif %}

                        {% if is_user_owner or user.is_superuser %}
                            <a href="{% url 'waiting_room' slug %}?deleteplayers=1" class="answer_link btn btn-primary m-2 " >Удалить всех пользователей</a>
                            <a href="{% url 'waiting_room' slug %}?deleteroom=1" class="answer_link btn btn-primary m-2 " >Удалить комнату</a>
                            <a href="{% url 'waiting_room' slug %}?startgame=1" class="answer_link btn btn-success m-2 " >Начать игру</a>
                        {% else %}
                            <div class="waiting-typing-done d-flex flex-column pt-2 pb-2">
                                Ждем пока создатель комнаты {{ owner }} начнет игру.
                            </div>
                            <div class="waiting-typing-done d-flex flex-column pt-2 pb-2 fw-bold fs-5 text-white justify-content-center align-items-center" style="background-color: orange">
                            <div class="">
                                <p class="d-inline">Ждем пока создатель комнаты</p>
                                <p class="d-inline" style="color: red;">{{ owner }}</p>
                                <p class="d-inline"> начнет игру. </p>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block user_scripts %}

    {#  шаблоны html страницы для пользователей в комнате #}
    {% verbatim %}
    <script id="playersThereTmpl" type="text/x-jquery-tmpl">
            <div class="base-info">
                {{each data_players.users}}
                    <div class="d-inline p-2 mx-1 bg-success text-white">${username}</div>
                {{/each}}
            </div>
        </div>
    </script>
    {% endverbatim %}

    {% verbatim %}
    <script id="TimerTmpl" type="text/x-jquery-tmpl">
    <div class="row begin-countdown">
        <div class="col-md-12 text-center">
            <progress value="10" max="10" id="pageBeginCountdown"></progress>
            <p> Begining in <span id="pageBeginCountdownText">10 </span> seconds</p>
        </div>
    </div>
    </script>
    {% endverbatim %}

    {# ОПРЕДЕЛИМ УРЛЫ #}
    {% include '../blocks/urls_js.html' %}

    {# ЗАГРУЗКА JS - LOAD СПИСОК ИГРОКОВ #}
    <script src="{% static 'game_1/js/room/waiting_room_test.js' %}"></script>

{% endblock %}

