{% extends 'game_1/base.html' %}

{% load static %}

{% block title %} waiting_typing_room {% endblock %}

{% block content %}
    <section class="waiting-typing vh-100">
        <div class="container pt-1 pb-1 h-100">
            <div class="d-flex flex-column justify-content-center align-items-between h-100">

                <div class="waiting-header">
                    <h1 class="p-2 mx-2 d-flex justify-content-center bg-primary text-center text-white rounded-pill" style="font-weight: bold; font-size: 26px">Ждем игроков раунда №{{ round }} из {{ max_rounds }}</h1>
                </div>

                {# ОПОВЕЩЕНИЯ ДЖАНГИ #}
                {% include '../blocks/django_messages.html' %}

                <div class="waiting-typing-players text-center">
                    <h2>Игроки которые уже ответили</h2>
                    <div id="waitingPlayersThere">
                        {% for p in players %}
                            <div class="d-inline p-2 mx-1 bg-success text-white">{{ p.username }}</div>
                        {% endfor %}
                    </div>

                    <button class="waiting-players-there-btn btn"> Кликни </button>
                </div>

                {% if is_user_owner or user.is_superuser %}
                    <div class="waiting-typing-done d-flex flex-column pt-2 pb-2">
                        <a href="{% url 'result_room' slug %}" class="answer_link btn btn-primary alredy_done__link" >Показать ответы</a>
                    </div>
                {% else %}
                    <div class="waiting-typing-done d-flex flex-column pt-2 pb-2 fw-bold fs-5 text-white justify-content-center align-items-center" style="background-color: orange">
                    <div class="text-center">
                        <p class="d-inline">Ждем пока создатель комнаты</p>
                        <p class="d-inline" style="color: red;">{{ owner }}</p>
                        <p class="d-inline"> продолжит игру. </p>
                    </div>
                {% endif %}
                </div>
            </div>
    </section>
{% endblock %}

{% block user_scripts %}
    {#  шаблоны html страницы для пользователей в комнате #}
    {% verbatim %}
    <script id="playersThereTmpl" type="text/x-jquery-tmpl">
            <div class="row">
                {{each data_players.users}}
                    <div class="col-3 p-auto pb-2">
                        <div class="bg-success text-center text-white fw-bold">
                            <div class="pt-2">${username}</div>
                            <div class="pb-2 pt-2">done</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </script>
    {% endverbatim %}

{#    <script type="text/javascript">#}
{#        function getResultRoomURL(){#}
{#            return "{% url 'result_room' slug %}"#}
{#        }#}
{##}
{#        function getWaitingTypingRoomApiURL(){#}
{#            return "{% url 'waiting_typing_room_api_gatusers' slug %}"#}
{#        }#}
{#    </script>#}

    {# ЗАГРУЗКА JS #}
    {#    <script src="{% static 'game_1/js/room/waiting_typing_room.js' %}"></script>#}


    {#//////////////////// ПОЛУЧЕНИЕ СТАТУСА ИГРЫ ///////////////////#}
    <script>
        ///////// API ///////////////
        function getGameStatusApiURL(){
            return "{% url 'game_status_API' slug %}"
        }
        function getUsersWaitingTypingRoomApiURL(){
            return "{% url 'waiting_typing_room_API_gatusers' slug %}"
        }
        //////// DJANGO ////////////
        function getWaitingRoomURL(){
            return "{% url 'waiting_room' slug %}"
        }
        function getTypingRoomURL(){
            return "{% url 'typing_room' slug %}"
        }
        function getWaitingTypingRoomURL(){
            return "{% url 'waiting_typing_room' slug %}"
        }
        function getResultRoomURL(){
            return "{% url 'result_room' slug %}"
        }
        function getResultListRoomURL(){
            return "{% url 'result_list_room' slug %}"
        }
        function getMainRoomURL(){
            return "{% url 'main_room' %}"
        }
        function getGameOverRoomURL(){
            return "{% url 'gameover_room' slug %}"
        }
    </script>

    {# ЗАГРУЗКА JS - ОБНОВЛЕНИЕ STATUS GAME #}
    <script src="{% static 'game_1/js/room/temp.js' %}"></script>

    {# ЗАГРУЗКА JS - LOAD СПИСОК ИГРОКОВ #}
    <script src="{% static 'game_1/js/room/waiting_typing_room.js' %}"></script>




{% endblock %}